#testata {
    background-color: #5bb1e3;
    width: 90%;
    height: 100px;  
    overflow: hidden;
    position: relative;
    left: 5%;
}

img {
    width: 33%;
}

.container {
    width: 70%;
    position: relative;
    left: 15%;
    text-align: left;
}

.title-bottom {
    font-size: 13px;
    color: #606060;
    padding: 0px;
}

.immagini {
    width: 100%;
}

.immagini img {
    max-width: 100%;
}

.tabella {
    width: 100%;
    padding-top: 30px;
}

.tabella-top {
    background-color: #77b4ed;
}

.tabella-azzurro {
    background-color: #a6d0f7;
}